<app-form-wrapper>
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" [disabled]="isLoading" required />

      <mat-error *ngIf="hasError('email', 'required')">El correo es requerido</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">El correo electrónico es inválido</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" [disabled]="isLoading" required />

      <mat-error *ngIf="hasError('password', 'required')">Contraseña requerida</mat-error>
      <mat-error *ngIf="hasError('password', 'minlength')">Debe tener al menos 10 caracteres</mat-error>
    </mat-form-field>

    <div class="auth-form__actions">
      <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid || isLoading">
        Empezar
      </button>
      <a mat-button color="accent">Olvidó su contraseña?</a>
    </div>

    <div class="divider">
      <span>or</span>
    </div>

    <div class="auth-form__subactions">
      <a mat-stroked-button color="accent" routerLink="/signup">Crea una cuenta</a>
    </div>
  </form>
</app-form-wrapper>