<app-main>
  <div class="page home-page">
    <header class="page__header">
      <h1 class="page__header__title">
        Tasks Manager
        <span *ngIf="percentageTasksCompleted !== null">{{percentageTasksCompleted}}% completado</span>
        <span *ngIf="percentageTasksCompleted === null">Sin tareas de momento</span>
      </h1>
      <div class="page__header__actions">
        <button mat-icon-button (click)="refreshTasks()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="showCreateTaskDialog()">
          <mat-icon>add</mat-icon>
          Añadir
        </button>
      </div>
    </header>

    <section class="page__content">
      <app-lists [tasks]="tasksGroup" (onAddTaskClick)="showCreateTaskWithGroupSelectedDialog($event)"
        (onEditTaskClick)="showEditTaskDialog($event)"></app-lists>
    </section>
  </div>
</app-main>