<section class="lists-wrapper">
  @for (group of groups; track group.key) {
  <section class="list-container mat-elevation-z1" [class]="'list-container--' + group.key">
    <header class="list-container__header">
      <h2>
        {{ group.label }}

        <span>
          {{ getListCount(group.key) }}
        </span>
      </h2>

      <button mat-icon-button (click)="handleAddTaskClick(group.key)">
        <mat-icon>add</mat-icon>
      </button>
    </header>

    <div [id]="group.key + '_LIST'" cdkDropList [cdkDropListData]="getListData(group.key)"
      [cdkDropListConnectedTo]="getListConnectedTo(group.key)" class="list-container__list"
      [class.list-container__list--empty]="listIsEmpty(group.key)" (cdkDropListDropped)="drop($event)">
      @for (item of getListData(group.key); track item.taskId) {
      <article class="list-container__list__item" [class]="'item--' + item.status" cdkDrag>
        <header class="list-container__list__item-header">
          <span class="list-container__list__item-header__level" [class]="
                  'list-container__list__item-header__level--' + item.level
                ">
            {{ item.level.toLowerCase() }}
          </span>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" color="accent">
            <button mat-menu-item (click)="handleEditTaskClick(item)">
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="handleDeleteTaskClick(item)">
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </header>
        <div class="list-container__list__item-content">
          <h2>
            {{ item.title }}
          </h2>
          <p>
            {{ item.description }}
          </p>
        </div>
        <footer class="list-container__list__item-footer">
          <span class="date">
            <mat-icon class="icon">event</mat-icon>
            {{ item.deadline | date: 'MMM d, y' }}
          </span>

          @if (!taskIsCompleted(item.status)) {
          <button mat-stroked-button (click)="handleCompleteTaskClick(item)">Complete</button>
          }
        </footer>
      </article>
      }
      @empty {
      <div class="list-container__list__empty">
        <img [alt]="'Fondo de grupo de tareas ' + group.key" [ngSrc]="'assets/images/' + group.key + '.png'" width="72"
          height="72" priority />
        <button mat-stroked-button color="accent" (click)="handleAddTaskClick(group.key)">
          <mat-icon>add</mat-icon>
          Añadir Tarea
        </button>
      </div>
      }
    </div>
  </section>
  }
</section>