<app-main>
  <div class="page not-found-page">
    <div class="not-found">
      <img class="not-found__image" alt="Buddy - 404 Not Found Page" ngSrc="assets/images/404.png" width="256"
        height="250" priority />

      <h1 class="not-found__title">Oooops! Sentimos el error 😵</h1>

      <h4 class="not-found__description">
        El sitio al que intentas acceder al parecer no existe. Haz click en el siguiente botón para <a
          routerLink="/">volver
          al inicio</a>.
      </h4>
    </div>
  </div>
</app-main>