<div class="form-wrapper" color="primary">
  <mat-card class="form-wrapper__container mat-elevation-z8">
    <mat-card-header class="form-wrapper__header">
      <div class="form-wrapper__header__logo">
        <app-logo />
      </div>

      <span class="title">Bienvenido a <a routerLink="/">Buddy</a>! 😉</span>

      <span class="subtitle">Todavía no tienes cuenta? <a routerLink="/signup">Regístrate</a></span>
    </mat-card-header>
    <mat-card-content class="form-wrapper__content">
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>