// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use './../../app/shared/components//custom-dialog/custom-dialog.component.scss' as customDialog;
@use './../../app/shared/components/form-wrapper/form-wrapper.component.scss' as formWrapper;
@use './../../app/shared/components/lists/lists.component.scss' as lists;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dark-primary-text: rgb(231 227 252 / 0.9);
$light-primary-text: rgb(231 227 252 / 0.7);

$deep-purple-atom-palette: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #8c57ff,
  600: #7c4dff,
  700: #6a4fff,
  800: #373452,
  900: #312d4b,
  A100: #d1c4e9,
  A200: #312d4b,
  A400: #ff5252,
  A700: #ff1744,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: white,
  ),
);

$purple-accent-palette: (
  50: #F0E6FF,
  100: #E1CCFF,
  200: #CFAFFF,
  300: #B98FFF,
  400: #7E4EE6,
  500: #8C57FF,
  600: #7E4EE6,
  700: #6B45B3,
  800: #5B3C8C,
  900: #4A3366,
  A100: #A379FF,
  A200: #8C57FF,
  A400: #7E4EE6,
  A700: #7E4EE6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$atom-challenge-fe-template-primary: mat.define-palette(
  $deep-purple-atom-palette,
  900
);
$atom-challenge-fe-template-accent: mat.define-palette(
  $purple-accent-palette,
  A200,
  A100,
  A400
);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$atom-typography: mat.define-typography-config(
  $font-family: Inter,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$atom-challenge-fe-template-theme: mat.define-dark-theme(
  (
    color: (
      primary: $atom-challenge-fe-template-primary,
      accent: $atom-challenge-fe-template-accent,
      warn: $my-warn,
    ),
    typography: $atom-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($atom-challenge-fe-template-theme);

/* You can add global styles to this file, and also import other style files */
@include customDialog.theme($atom-challenge-fe-template-theme);
@include formWrapper.theme($atom-challenge-fe-template-theme);
@include lists.theme($atom-challenge-fe-template-theme);

body {
  background-color: mat.get-color-from-palette($deep-purple-atom-palette, 900);
  color: $dark-primary-text;
}

* {
  box-sizing: border-box;
}

a {
  color: $dark-primary-text;
  text-decoration: none;
}
