.loading-screen {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2, p {
      margin: 0;
    }
    h2 {
      font-size: 1.625rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
    }
  }
}